:root {
  --clock-color: #fff;
  --clock-hour-hand-color: #000;
  --clock-size: 350px;
  --hour-hand-block-size: 160px;
  --minute-hand-block-size: 190px;
  --second-hand-block-size: 230px;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(img/background.jpeg) bottom center;
  background-size: cover;
}

.main__clock {
  width: var(--clock-size);
  height: var(--clock-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid var(--clock-color);
  border-radius: 50%;
  box-shadow: 0 -16px 16px rgba(255, 255, 255, 0.06),
    inset 0 -16px 16px rgba(255, 255, 255, 0.06), 0 16px 16px rgba(0, 0, 0, 0.4),
    inset 0 16px 16px rgba(0, 0, 0, 0.4);
  position: relative;
}

.main__clock::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--clock-color);
  z-index: 100;
}

.clock__hours,
.clock__minutes,
.clock__seconds {
  position: absolute;
}

.clock__hour-hand {
  width: var(--hour-hand-block-size);
  height: var(--hour-hand-block-size);
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.clock__hour-hand::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: var(--clock-hour-hand-color);
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.clock__minute-hand {
  width: var(--minute-hand-block-size);
  height: var(--minute-hand-block-size);
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.clock__minute-hand::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: var(--clock-color);
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

.clock__second-hand {
  width: var(--second-hand-block-size);
  height: var(--second-hand-block-size);
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.clock__second-hand::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: var(--clock-color);
  z-index: 14;
  border-radius: 6px 6px 0 0;
}
 