@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("https://fonts.google.com/share?selection.family=DM%20Sans%7CLato%7COswald:wght@600");
}

:root {
  --page-background: #3c1c74;
  --shadow-color: #1a012d;
  --text-color: #f9f7fa;
  --color-gradient-pink: #ac0379;
  --color-gradient-violet: #1e00a4;
  --color-text-modal: #0f0f10; 
  --letters-size: 48px;
  --extra-size: 24px;
  --button-text-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page__container {
  background-color: var(--page-background);
  font-family: "DM Sans", sans-serif;
  height: 100vh;
}

.page__cards-list {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  justify-content: center;
  margin: auto;
}

.page__timer {
  width: 100px;
  margin: auto;
  padding-top: 20px;
}

.timer__content {
  font-size: var(--extra-size);
  color: var(--text-color);
}

.cards-list__container {
  background-color: transparent;
  width: 90px;
  height: 90px; 
  margin: 16px;
  cursor: pointer;
  box-sizing: border-box;
  perspective: 1000px;
}

.cards-list__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cards-list__container_opened .cards-list__card-inner {
  transform: rotateY(180deg);
}

.cards-list__card-front, .cards-list__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.cards-list__card-front {
  background-image: url(../assets/backgraund.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cards-list__card-back {
  background: linear-gradient(
    36deg,
    var(--color-gradient-pink),
    var(--color-gradient-violet)
  );
  color: var(--text-color);
  box-shadow: 2px 2px 2px var(--shadow-color);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: var(--letters-size);
  text-shadow: 2px 2px 2px var(--shadow-color);
  transform: rotateY(180deg);
}

.menu__container {
  width: 500px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 20px;
}

.menu__start-page,
.menu__results,
.menu__start-new-game {
  background-color: var(--color-gradient-pink);
  width: 140px;
  color: var(--text-color);
  border-radius: 36px;
  border: 1px solid var(--text-color);
  height: 26px;
  cursor: pointer;
  font-size: var(--button-text-size);
  box-shadow: 2px 2px 2px var(--shadow-color);
  text-shadow: 1px 1px 1px var(--shadow-color);
  text-decoration: none;
  text-align: center;
  line-height: 26px;
}

.menu__start-page:active,
.menu__results:active,
.menu__start-new-game:active {
  background-color: var(--color-gradient-violet);
}

.menu__start-page:focus,
.menu__results:focus
.menu__start-new-game:focus {
  outline: none;
  background-color: var(--color-gradient-violet);
}

.page__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.modal_active {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.modal__content {
  background: linear-gradient(
    36deg,
    var(--color-gradient-pink),
    var(--color-gradient-violet)
  );
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--color-text-modal);
  box-shadow: 2px 2px 2px var(--shadow-color);
  box-sizing: border-box;
  position: relative;
}

.modal__close {
  width: 16px;
  height: 16px;
  line-height: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--page-background);
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.modal__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
}

.modal__form-label {
  color: var(--text-color);
  font-size: var(--extra-size);
  text-shadow: 2px 2px 2px var(--shadow-color);
}

.modal__form-input {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 180px;
  text-align: center;
  border: 1px solid var(--color-text-modal);
}

.modal__form-input:focus {
  border: 1px solid var(--color-text-modal);
}

.modal__form-submit {
  border-radius: 8px;
  background-color: var(--color-gradient-violet);
  color: var(--text-color);
  text-shadow: 2px 2px 2px var(--shadow-color);
  width: 180px;
  height: 30px;
  cursor: pointer;
}

