:root {
  --main-background-color: #e5e5e5;
  --page-aside-background-color: #111111;
  --card-background-color: #17e383;
  --text-white-color: #fcfcfc;
  --main-border-color: #4d4f56;
  --element-background-color: #ffffff;
  --text-grey-color: #babec8;
  --status-done-color: #10834e;
  --status-pending-color: #db5000;
  --title-text-size: 28px;
  --text-sum-card: 22px;
  --text-sum-table: 20px;
  --table-head-text-size: 18px;
  --main-text-size: 16px;
  --text-size-details: 14px;
  --extra-text-size: 12px;
  --footer-text-size: 10px;
}

@font-face {
  font-family: "Inter";
  src: url("font/Inter-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--main-background-color);
  font-family: "Inter";
  overflow: auto;
}

.page__aside {
  min-width: 290px;
  width: 290px;
  height: 100vh;
  background: var(--page-aside-background-color);
  border-radius: 0px 50px 0px 0px;
  box-sizing: border-box;
}

.page__main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  overflow: auto;
}

.section-cards__title,
.section-transactions__title {
  font-size: var(--title-text-size);
  font-weight: bolder;
  margin-top: 38px;
  margin-bottom: 0;
}

.section-cards__content {
  display: flex;
  flex-direction: row;
  height: 150px;
  margin-bottom: 38px;
  margin-top: 30px;
}

.current-card__container {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 140px;
  background-color: var(--card-background-color);
  background: linear-gradient(to right top, rgb(123, 255, 150), rgb(0, 87, 45));
  border-radius: 12px;
  color: var(--text-white-color);
  padding: 16px;
  margin-right: 30px;
}

.current-card__header {
  display: flex;
  justify-content: space-between;
}

.current-card__sum {
  font-size: var(--text-sum-card);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.current-card__number {
  font-size: var(--table-head-text-size);
  font-weight: bold;
  padding-bottom: 10px;
}

.current-card__footer {
  display: flex;
  font-size: var(--footer-text-size);
  justify-content: space-between;
}

.new-card {
  border: 2px dashed var(--main-border-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 168px;
  box-sizing: border-box;
}

.new-card__button {
  background-image: url(assets/add-card.png);
  height: 32px;
  width: 32px;
  border-radius: 15px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.new-card__text {
  margin-top: 6px;
  color: var(--main-border-color);
}

.new-card__button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.section-transactions__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.filters__section {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 2px;
  list-style-type: none;
}

.filters__item,
.filters__form {
  display: flex;
  background: var(--element-background-color);
  border: 2px solid var(--main-background-color);
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 250px;
  margin-right: 10px;
  padding: 0;
  align-items: center;
}

.filters__icon {
  display: flex;
  border-left: 2px solid var(--main-background-color);
  padding: 12px;
}

.filters__form-push {
  margin-left: auto;
}

.filters__name {
  font-size: var(--main-text-size);
  text-align: start;
  flex: 1;
}

.filters__input {
  width: 100%;
  border: 0;
  padding: 6px;
  box-sizing: border-box;
  margin: 8px;
  outline: none;
}

.filters__input-data {
  border: 0;
  padding: 6px;
  box-sizing: border-box;
  margin: 8px 2px 8px 2px;
  outline: none;
}

.page__table {
  width: 100%;
  min-width: 1096px;
}

.table {
  background: var(--element-background-color);
  border-radius: 30px 30px 0 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

.table__head {
  border-bottom: 2px solid var(--main-background-color);
  font-size: var(--table-head-text-size);
  color: var(--main-border-color);
  text-align: left;
  height: 90px;
  white-space: nowrap;
}

.table__head_right {
  padding-left: 94px;
}

.table__square {
  height: 20px;
  width: 20px;
  border: 1px solid var(--main-border-color);
  margin: 36px;
  margin-left: 42px;
  box-sizing: border-box;
}

.table__icon {
  height: 48px;
  width: 48px;
  padding: 22px 16px 18px 0;
}

.table__item-name {
  vertical-align: bottom;
  padding-bottom: 12px;
}

.table__item-name:first-child {
  width: 0;
  white-space: nowrap;
}

.table__details {
  color: var(--main-border-color);
  font-size: var(--text-size-details);
  text-decoration: none;
  vertical-align: top;
  padding-bottom: 24px;
  padding-right: 6px;
  white-space: nowrap;
}

.table__user-mail {
  color: var(--main-border-color);
  font-size: var(--text-size-details);
  text-decoration: none;
  vertical-align: top;
}

.table__total-sum {
  font-size: var(--text-sum-table);
  padding: 34px 30px 30px 0;
}

.table__status {
  display: flex;
  font-size: var(--main-text-size);
}

.status__icon {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid;
  margin: 2px 6px 0 0;
}

.status_done {
  color: var(--status-done-color);
  border-color: var(--status-done-color);
}

.status_pending {
  color: var(--status-pending-color);
  border-color: var(--status-pending-color);
}

.table__dots {
  padding: 36px 36px 36px 0;
}

.group-page-selection {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background: var(--element-background-color);
  border-radius: 0 0 30px 30px;
  height: 90px;
  padding: 0 15px;
  min-width: 1096px;
  box-sizing: border-box;
}

.group-page-selection__button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid var(--main-border-color);
  margin: 16px 6px 14px 6px;
  padding: 10px;
  background: var(--element-background-color);
}

.group-page-selection__button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.aside {
  display: flex;
  flex-direction: column;
}

.aside__logo,
.aside__menu-icon,
.footer__menu-icon {
  padding: 60px 10px 0 35px;
  vertical-align: bottom;
}

.aside__middle {
  flex: 1;
}

.aside__footer {
  padding-bottom: 30px;
}

.aside__name {
  color: var(--text-white-color);
  font-size: var(--title-text-size);
  font-weight: bolder;
  text-decoration: none;
}

.aside__menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.aside__menu-text,
.footer__user-name {
  color: var(--text-white-color);
  font-size: var(--main-text-size);
  margin: 20px 2px 2px 6px;
  text-decoration: none;
}

.aside__menu-text_grey {
  color: var(--text-grey-color);
  margin-bottom: 20px;
}

.footer__horizontal-rule {
  margin: 0 20px;
  border-width: 0.8px;
  background-color: var(--text-grey-color);
}

.footer__user-data {
  display: flex;
}

.footer__user-info {
  padding-top: 62px;
}

.footer__user-mail {
  color: var(--text-grey-color);
  font-size: var(--footer-text-size);
  padding-top: 8px;
  text-decoration: none;
}

.filtres__sorting {
  height: 24px;
  width: 24px;
  border: 0;
  background-color: inherit;
  margin: 0 6px;
  cursor: pointer;
}

.filtres__sorting_off {
  background-image: url(assets/sort.png);
}

.filtres__sorting_desc {
  background-image: url(assets/sort-descending.png);
}

.filtres__sorting_asc {
  background-image: url(assets/sort-ascending.png);
}

.filtres__sorting:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
